* {
	margin: 0px;
	padding: 0px;
}

body{
    background: #ccc;
}

.vi {
	float: left;
	margin-bottom: 5%;
}

#but-s {
	background-color: green;
}

#but-r {
	background-color: red;
}

#main-but {
	float: left;
	background-color: #7aedf9;
	padding: 9% 0% 15% 30%;
	/*margin: 0px !important;*/
	width: 100%;
}

#head {
	height: 70px;
	background-color: #7b7b7b;
}

#inp-search {
	float: right;
	width: 25%;
}

#list-search-form {
	display: none;
	width:78%;
	height: 115px;
	margin-top: -5% !important;
	overflow:  hidden;
}
#cont {
	z-index: 1;
}
#search-sub-menu {
	/*display: none;*/
	position: relative;
	z-index: 2 !important;
	background-color: #a9a98a;
	height: 50px;
}

.show-block {
  display: block !important;

}

.block {
	display: none;
}


					/*  START STYLE FOR COMMENTS   */

.comments {
	margin: 0% 0% 2% 0%;
	border-bottom: 3px solid white;
	float: left;

}

.user-image img {
	width: 70%;
}

.user-image {
	margin: 2% 0% 1% 0%;
	float: left;
}

.comment-cont {
	margin: 2% 0% 1% 0%;
	float: left; 
}

.rate-comment {
	margin: 5% 0% 0% 18%;
	width: 30%;
}

.pluse, .minus {
	padding: 0% 0% 0% 35%;
	font-size: 130%;
	cursor: pointer;
}

.count {
	font-size: 130%;
	text-align: center;
}


.date-commet {
	float: left;
	margin-top: 2%;
}

#comment-form {
	width: 100%;
}

#comment-form input {
	color: #000;
	background-color: #5b3f5f;
	border-radius: 20px;
	padding: 1% 1% 1% 1%;
	cursor: pointer;
}

#error {
	color: red;
}

					/* END STYLE FOR COMMENTS */
					/* START STYLE FOR AUTH */

					/* start style for form */
.bg {
	margin: 4.5% 0% 0% 0%;
}
.bg, .reg{
	background-color: rgba(33, 226, 208, 0.41);	
	width: 30%;
	position: fixed;
	border-radius: 2%;
}
.bg input, .reg input {
	float: right;
	font-size: 120%;
	width: 37%;
	padding: 1% 0% 1% 0%;
	margin: 5% 9% 2% 0%
}
.bg label, .reg label {
	float: left;
	font-size: 120%;
	margin: 5% 0% 3% 4%;
	line-height: 150%;
}

.bg button{
	border-radius: 20%;
}

.bg button, .reg button {
	float: left;
	margin: 5% 0% 10% 6%;
	background-color: rgba(33, 226, 208, 0.41);
	font-size: 150%;
	padding: 2% 4% 2% 4%;
}

.bg button:hover, .reg button:hover {
	background-color: inherit;
}

.reg {
	margin: 4.5% 0% 0% 34%;
}
.reg button {
	border-radius: 12%;
}
					/* end style for form */

#auth {
	/*margin: 9% 0% 0% 10%;	*/
}
#auth, #reg-title {
	position: fixed;
	background-color: rgba(33, 226, 208, 0.41);
	width: 30%;
	text-align: center;
	border-radius: 5%;
} 

#reg-title {
	margin: 0% 0% 0% 34%;
}
#ser {
	float: left;
}
					/* END STYLE FOR AUTH */

					/* START STYLE FOR MENU */
					

#header-menu{
	/*float: left;*/
}

#header-menu .menu li {
	float: left;
	margin: 1% 2% 0% 0%;
	cursor: pointer;
	padding: 0% 1% 0% 1%;
}
#header-menu .menu li a {
	color: #fff;
	text-decoration: none;
}

#header-menu .menu li:hover {
	float: left;
	margin: 1% 2% 0% 0%;
	border: 1px solid #fff;
	border-radius: 5px;
}
#header-menu .menu li .subMenu, #header-menu .menu li .subMenu li .subSubMenu {
	display: none;
	background-color: #5a4848;
	position: absolute;
	z-index: 4;
	width: 20%;
	padding: 0% 0% 0% 1%;
}
#header-menu .menu li .subMenu li {
	width: 100%;
}
#header-menu .menu li .subMenu li:hover {
	width: 100%;
	border: 1px solid #fff;
	border-radius: 5px;
	display: block;
}

#header-menu .menu li .subMenu li .subSubMenu {
	width: 100%;
	margin: -15% 0% 0% 93%;
}

					/* END STYLE FOR MENU */

#for-analitics {
	border: 5px solid #fff;
	padding: 1% 0% 1% 2%;
}

#for-analitics p {
	font-size: 180%;
	margin: 0% 0% 0% 45%;
}

#for-analitics a {
	color: red;
	padding-left: 36%;
	text-decoration: none;
}